/* plyr_fixes.css */
body {
    --plyr-control-spacing: 10px;
    --plyr-video-controls-background: rgba(11, 18, 27, 0.8);
}
.plyr__progress__buffer {
    color: rgba(224, 223, 226, 0.75) !important;
}
.plyr__captions {
    color: #e0dfe2;
    font-size: calc(16px + 6px * (var(--video_height) - 720) / 720);
}
.plyr__controls {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    background-color: rgba(11, 18, 27, 0.8);
    border-radius: 0 0 8px 8px;
}
.plyr__control {
    border-radius: 9999px;
    background-color: #60a5fa;
}
.plyr__control:hover {
    background-color: #3b82f6;
}
.plyr__menu__container {
    background-color: #1e2a3c;
    border: 1px solid #374151;
    border-radius: 8px;
}
